mani1{   
    background-color: aqua;
    border: 1px solid blue;
}
mani2{
    background-color: wheat;
    border: 1px solid blue;
}
mani3{
    background-color: red;
    border: 1px solid blue;
}
mani4{
    background-color: aquamarine;
    border: 1px solid blue;
}
mani5{
    background-color: gray;
    border: 1px solid blue;
}
mani6{
    background-color: white;
    border: 1px solid blue;
}